<!DOCTYPE html>
<html lang="en">
  <head>
    <title>InwoTech.me</title>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="static/main.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
     .container1 {
        left: 50%;
        text-align: center;
    }
     h3 {
        font-family: cursive;
        text-align: center;
    }
    .sidenav {
        background-color: #f1f1f1;
        height: 100%;
    }
    footer {
      background-color: #708090;
      color: white;
      padding: 8px;
    }
    </style>
  </head>
  <body>
     <h1>{{message}}</h1>
    <div class="container">
        <div class="container1">
            <h2><strong><i>InwoTech.me</i></strong></h2>
        </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-2" style="background-color:#4863A0;"><strong>Where I am.</strong></div>
        <div class="col-sm-10" style="background-color:#F70D1A;"><strong>InwoTech.me: A project for self-analysis</strong></div>
      </div>  
    </div>
    <div class="container">
      <div class="row content">
        <div class="col-sm-2 sidenav">
          <div class="well">
            <img src="/static/images/Anshu.jpg" class="img-circle" height="100px" width="100px" alt="Avatar">
            <p>Anshu Yadav</p>
          </div>
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#section1">Home</a></li>
            <li><a href="#section2">About</a></li>
            <li><a href="#section3">Blogs</a></li>
            <li><a href="#section3">Projects</a></li>
            <li><a href="#section4">Plans<a/><li>
          </ul><br>
          <div class="well">
            <p>ADS</p>
          </div>
          <div class="well">
            <p>ADS</p>
          </div>
        </div>
        <div class="col-sm-8">
        <div class="well">
          <img src="/static/images/Anshu2.jpg" class="img-rounded" height="500px" width="100%" alt="Avatar">
        </div>
      </div>
      </div>
    </div>
    <footer class="container text-center">
      <p>InwoTech: A dream project</p>
    </footer>
  </body>
</html>
